.poster-block .lazy-load-image-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.poster-block .lazy-load-image-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.skeleton-item{
    width: 125px;
}
.genres{
    display: none;
}
.outerRatingDiv .circularRating{
    padding: 2px;
}

.carouselDiv::-webkit-scrollbar {
    display: none;
}